[submodule "plugins"]
	path = plugins
	url = https://github.com/getpelican/pelican-plugins.git
[submodule "themes/elegant"]
	path = themes/elegant
	url = git@github.com:markphilpot/pelican-elegant.git
