{% extends 'base.html' %}

{% block content %}
{% if SHOW_DRAFTS %}
<ul class="recent-posts">
  <h2 id="drafts">Drafts</h2>
  {% for draft in drafts %}
  <li>
    <a href="{{ SITEURL }}/{{ draft.url }}">
      <div>
          {% if draft.featured_image %}
          <div class="post_with_featured_image">
            <img class="featured_image" src="{{SITEURL}}{{draft.featured_image}}" loading="lazy"/>
            <div class="post_with_featured_image_meta">
              <span class="title">{{ draft.title }}</span>
              <span class="date"><time pubdate="pubdate" datetime="{{ draft.date.isoformat() }}">{{ draft.locale_date }}</time></span>
              <span class="tags">{{draft.tags|join(', ')}}</span>
            </div>
          </div>
          {% else %}
            <span class="title">{{ draft.title }}</span>
            <span class="date"><time pubdate="pubdate" datetime="{{ draft.date.isoformat() }}">{{ draft.locale_date }}</time></span>
            <span class="tags">{{draft.tags|join(', ')}}</span>
          {% endif %}
        </div>
    </a>
  </li>
  {% endfor %}
</ul>
{% endif %}
<ul class="recent-posts">
  {% set last_year = 0 %}
  {% for article in dates %}
    {% if article.category.name != "micro" and article.category.name != "twitter" %}
    {% set year = article.date.strftime('%Y') %}
    {% if last_year != year %}
    <h2 id="{{year }}">{{ year }}</h2>
    {% set last_year = year %}
    {% endif %}
    {% set next_year = 0 %}
    {% if not loop.last %}
    {% set next = loop.index0 + 1 %}
    {% set next_article = dates[next] %}
    {% set next_year = next_article.date.strftime('%Y') %}
    {% endif %}
    
    {% if next_year != year %}
    <li class="last-entry-of-year">
    {% else %}
    <li>
    {% endif %}
      <a href="{{ SITEURL }}/{{ article.url }}">
        <div>
          {% if article.featured_image %}
          <div class="post_with_featured_image">
            <img class="featured_image" src="{{SITEURL}}{{article.featured_image}}" loading="lazy"/>
            <div class="post_with_featured_image_meta">
              <span class="title">{{ article.title }}</span>
              <span class="date"><time pubdate="pubdate" datetime="{{ article.date.isoformat() }}">{{ article.locale_date }}</time></span>
              <span class="tags">{{article.tags|join(', ')}}</span>
            </div>
          </div>
          {% else %}
            <span class="title">{{ article.title }}</span>
            <span class="date"><time pubdate="pubdate" datetime="{{ article.date.isoformat() }}">{{ article.locale_date }}</time></span>
            <span class="tags">{{article.tags|join(', ')}}</span>
          {% endif %}
        </div>
      </a>
    </li>
    {% endif %}
  {% endfor %}
</ul>
{% endblock content %}
