.divider-title {
  text-align: center;
  margin-top: -120px;
  margin-left: -100px;
  margin-bottom: 120px;
  font-weight: bold;
}

.spoiler {
    filter: blur(10px);
    transition-property: filter;
    transition-duration: .2s;
}
.spoiler:hover, .spoiler:focus {
    filter: blur(0px);
}

.micro_date a {
	text-decoration: none;
	border: 0 !important;
}

.anilist-cover {
  width: 100px;
  height: 140px;
  object-fit: cover;
}

.img-140h {
  height: 140px;
  width: auto;
}