body {
  background-color: #1A1A1A;
  color: #BEBEBE;
}

fieldset {
  border: 1px solid #c0c0c0;
}

a {
  color: #5f7782
}

.menu ul a:hover {
  background-color: rgba(95, 119, 130, 0.1);
  color: #5f7782
}

.content .date {
  color: #5f7782
}

.recent-posts h2 {
  color: #A4BCEC;
}
.recent-posts li a {
  color: #D8DEE9;
}

.recent-posts li .date {
  color: rgba(216,222,233, 0.7);
}

.recent-posts li .tags {
  color: rgba(216,222,233, 0.6);
}

.micro_content .micro_date {
  color: rgba(216,222,233, 0.7);
}

.content blockquote {
  background-color: rgba(95, 119, 130, 0.15);
  color: #495c65
}

.content blockquote strong {
  color: #495c65
}

.content blockquote:before {
  color: #b3c1c7
}

.content code {
  background-color: #444;
}

.micro_content code {
  background-color: #444;
}

.content a:hover {
  color: #546875;
}

a.headerlink {
  color: grey;
}

.hero {
  background-color: #5f7782;
  /*filter: brightness(0.5);*/
}

.closing {
  color: #999
}

.closing .author {
  color: rgba(255, 255, 255, 0.2);
}

.hll {
    background-color: lightblue;
}

div.post_with_featured_image_meta {
  background-color: rgba(26, 26, 26, 0.9);
}